@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

.app-container{
  position: absolute;
  left: 0;
  top:0;
  width:100%;
}



@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v75/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2) format('woff2');
}

.material-symbols-rounded {
  color: black;
/*  height: 30px;
  width: 30px;*/
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-symbols-rounded  {
  float: left;
  margin-top: 9px;
  margin-left: 20px;
  font-variation-settings:
  'FILL' 0,
  'wght' 250,
  'GRAD' -100,
  'opsz' 40
}
.material-symbols-rounded:hover  {
  transform: scale(1.1, 1.1);
  cursor: pointer;
    font-variation-settings:
  'FILL' 0,
  'wght' 250,
  'GRAD' 100,
  'opsz' 40
}

.comment-counter{
  float: left;
  margin-top: 9px;
  margin-left: 10px;
  color: #b7afaf;

  font: 400 15px/24px Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
}


.publication-comments{
  width:100%;
  float: left;
  min-height: 100px;
/*  border: 2px solid #B1B1B178;*/
  font: 400 18px/24px Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;

}

.comment{
  padding-left: 10px;
  border-bottom: 1px solid #B1B1B178;
  padding-bottom: 10px;
  display: inline-block;
  width:100%;
}

.comment-header{
  float:left;
  margin-left: 0;
}
.comment-photo-container{
  /*height: 100%;*/
  /*width:12%;*/
  max-width: 30px;
}
.comment-profile-photo{
  aspect-ratio:1/1;
  width:100%;
  float: left;
  border-radius: 50%;

}

.comment-name{
  float: left;
  height:100%;
/*  padding:5px;*/
  font-size: 14px;
  font: 600 15px/24px Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;

}
.comment-username{
  float: left;
  height:100%;
/*  padding-left: 1px;
  padding-top: 7px;*/
  font-size: 12px;
  padding-left: 3px;
  color: rgba(138 ,138, 138);

}
.comment-title{
  float: left;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size:16px;
 color:#a7a7a7;
}
.comment-content{
  float: left;
  width:87%;
  font-size: 15px;
  padding-left: 10px;
  font-family: "Roboto";

}
.comment-label{
  width: 100%;
  float: left;
  padding-bottom: 10px;
  font-size:16px;
  color: rgba(99, 99, 99);

  font: 400 16px/24px Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
}

.comments-container{
  width: 100%;
  overflow: hidden;
}
.comment-foot{
  float: left;
  height:100%;
}
.comment-input-container{
  padding-left:060px;
}
.comment-form-photo{
  margin-left: 10px;
  margin-top: 4px;
}
.comment-input{
  width: 90%;
  min-height: 30px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 15px;
  padding: 7px;
  overflow: hidden;
  resize: vertical;
  border-radius:8px;
  font-family: arial;
  color: rgb(42, 42, 42);
  border-color: rgba(150, 150, 200, 0.5);
  box-sizing: border-box;
}
.comment-input:focus{
  border-color: rgba(150, 150, 200, 0.5);
  outline: none;
}
.comment-form-photo{
  /*background-color: red;*/
  height:40px;
  width:40px;
  border-radius: 50%;
  float: left;
}
.comment-form{
  float: left;
  width:100%
}

.comment-submit-button{
  height: 15px;
  width: 30px;
  float:right;
  margin-top:-10px;
  margin-right:12px;
  background-color:;

}

.comment-section{
  float:left;
  width:100%;
}

.comment-load-more{
  width: 100px;
  margin: 0 auto;
  display: inline-block;
  border-radius: 1%;
  align-items: stretch;
  box-sizing:border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  font: inherit;
  font-size: 16px;
  margin: 10px auto;
  padding: 0;
  color: rgb(100,100,100);
  cursor: pointer;
}


/*loader*/

:root {
  --main-bg-color: black;
}

.lds-ellipsis {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  transform:scale(0.6, 0.6);
  display: inline-block;
  border-radius: 1%;
  align-items: stretch;
  box-sizing:border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  margin: 10px auto;
  padding: 0;

}
.lds-ellipsis div {
  background-color: var(--main-bg-color);
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  background-color: var(--main-bg-color);
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  background-color: var(--main-bg-color);
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  background-color: var(--main-bg-color);
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  background-color: var(--main-bg-color);
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.material-symbols-rounded{
  color:#b7afaf;;
}


.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


.input,
.textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}

.input-wrap {
  position: relative;
}
.input-wrap .input {
  position: absolute;
  width: 100%;
  left: 0;
}
.width-machine {
  /*   Sort of a magic number to add extra space for number spinner */
  padding: 0 1rem;
}

.textarea {
  border-radius:4px;
  display: block;
  width: 96%;
  overflow: hidden;
  /*resize: both;*/
  min-height: 40px;
  line-height: 20px;
}

.comment-input{
  width: 90%;
  min-height: 30px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 15px;
  padding: 7px;
  overflow: hidden;
  resize: vertical;
  border-radius:8px;
  font-family: arial;
  color: rgb(42, 42, 42);
  border-color: rgba(150, 150, 200, 0.5);
box-sizing: border-box;
}
.textarea:focus{
  border-color: rgba(150, 150, 200, 0.5);
  outline: none;
}

.textarea[contenteditable]:empty::before {
  content: "";
  color: gray;
}

/* Just for demo */
* {
  box-sizing: border-box;
}

p strong {
  display: block;
}
h1 {
  border-bottom: 5px solid #9ccc65;
}
h2 {
  border-bottom: 2px solid #c5e1a5;
}

.infinite-scroll-component {
    overflow-y: hidden;
    margin: 0;
    height: 100%;
    margin-top:40px;
}

:root {
  --feed-width: 650px;
}
.right-navbar{
  /*background-color:red;*/
  width:calc((100% - var(--feed-width))/2);
  position:relative;
}
.left-navbar{
  /*background-color:green;*/
  width:calc((100% - var(--feed-width))/2);
  position:relative;

}
.content{
  width:var(--feed-width);
}
.app-container{
  display: flex;
  flex-direction: row;
  flex: 1 1 0px;
  width: 100%;
  /*background-color:lightgreen;*/
}